<header id="header">
    <div class="logo" id="logo">
        <img src="assets/Projekt/logo.png" alt="logo">
    </div>
    <nav>
        <a class="board" href="../board.html">Board</a>
        <a class="backlog" href="../backlog.html">Backlog</a>
        <a class="task" href="../task.html">Add Task</a>
        <a class="help" href="../help.html">Help</a>
    </nav>
    <div id="signin" onmouseover="show('signinBtn')" onmouseout="hide('signinBtn')">
        <a id="profileLinks">
            <i class="fas fa-user-circle"></i>
        </a>
        <a id="signinBtn" href="../index.html" class="btn btn-outline-light">Sign In / Log In</a>
    </div>
    <div id="toggleHeaderBtn" onclick="toggleHeader()">
        <i class="fas fa-chevron-left"></i>
    </div>
</header>